.pio/
.pioenvs/
.piolibdeps/
bin/
backups/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.elf
*.map
*.bin
*.zip
*.bak
*.bak1
*.bak2
*.bak3
*.log
*.tmp
/Temp

.vscode/
DOC/
release/SHA256SUMS.txt

debug/

Thumbs.db
.DS_Store

