.pio/
.pioenvs/
.piolibdeps/
bin/
backups/
.venv/
__pycache__/
*.py[cod]
*.elf
*.map
firmware_*.bin
*.bak
*.bak1
*.bak2
*.bak3
*.log
*.tmp
/Temp

.vscode/*
!.vscode/extensions.json

DOC/
debug/

Thumbs.db
.DS_Store

